.numbered-list
{
	font-size: 25px;
	list-style-type: deimal;
}
body
{
	height: 100%;
	width: auto;
	background-size: cover;
	font-style: italic;
	margin: 0;
	padding: 0;
	color: black;
	background: linear-gradient(to right, #89ABE3, #EA738D); 
	
}
#delete-button
{
	font-size: 20px;
	font-style: italic;
	background-color: red;
	margin-bottom: 5px;
	margin-top: 5px;
}

h1
{
	font-family: "Times New Romans";
	text-shadow:  5px 5px 5px purple;
	display: flex;
	font-size: 10vw;
	justify-content: center;
}
h2
{
	font-size: 4vw;
}

.container
{
	display: flex;
	align-items: center;
	justify-content: space-around;

}
input
{
	padding: 1.3em 10em;
	border-radius: 20px;
	border: none;
	font-style: 4vwS;
	outline-color: #9d2d9d;

}
#addbutton
{
	display: inline-block;
	font-style: italic;
	padding: 1.3em 2em;
	border-radius: 20px;
	border: none;
}
.contained
{
	display: flex;
    justify-content: space-between;
	background-color: white;
	padding: 2px 1px;
	border-radius: 20px;
	border:none;
	outline: none;
	margin: 0;

}
li.contained
{
	margin-top: 5px;
	margin-bottom:5px ;
	margin-left: -30px;
	margin-right: 10px;
}
button:hover
{
	opacity: 0.5;
}
.done
{
	text-decoration: line-through;
}
@media (max-width: 600px)
{
	body
{
	background-color:#EA738D;

}
}
